<script>
	var teacher="teacher";
	var student = "student";
</script>
<table align = 'center'>
	<form action = '/ass_crud/crud_reg/{{student}}'  method = 'POST' align = 'center'>
		<input type = 'submit' value = 'Student Registration'/>
	</form>

	<form action = '/tut2/crud_reg/teacher'  method = 'POST' align = 'center'>
		<input type = 'submit' value = 'Teacher Registration'/>
	</form>

</table>
