<html>
<h1>{{value}}</h1>
	<form action = '/ass_crud/crud_verify' method = 'POST' align='center'>
		<table>
			<tr>
			<td>RollNumber <td>: <td><input type = 'text' name = 'roll_num' />
		</tr>
		<tr>
			<td>
			Password <td>: <td>
			<input type = 'password' name = 'psw' />
		</table>
		<input type = 'submit' value = 'Login'>
	</form>
</html>